include ../icons/icons.pug

mixin button({ href = "/mock-address/change-me", style = "simple", text = "button", buttonType, size, } = {})
  - let isSubmit = false
  - let sizeModifier
  - let typeModifier
  - let tag

  case buttonType
    when "button"
      - tag = "button"
    when "submit"
      - typeModifier = "submit"
      - isSubmit = true
      - href = null
      - tag = "button"
    default
      - tag = "a"

  case size
    when "small"
      - sizeModifier = "button_size_small"
    when "narrow"
      - sizeModifier = "button_size_narrow"

  case style
    when "long"
      #{tag}(class="button button_long" class=sizeModifier type=typeModifier href=href)=text
        .button__arrow
          +icons({
            icon: "arrow_forward", 
            color: "white",
          })
    when "faint"
      .button.button_faint(class=sizeModifier)
        #{tag}(class="button__key" type=typeModifier href=href)=text
    default
      #{tag}(class=`button button_${style}` class=sizeModifier type=typeModifier href=href)=text