mixin text-input({  
  name, 
  theme,
  isMasked, 
  placeholder,
  isClickable,
  type = "text", 
  disabled = false, 
  readonly = false, 
} = {})
  - let darkThemeModifier = ""
  - let isClickableModifier = ""
  - let maskThemeModifier = ""

  if isMasked
    - maskThemeModifier = " text-input_masked"
    - placeholder = "ДД.ММ.ГГГГ"

  if isClickable
    - isClickableModifier = " text-input_clickable"

  case theme
    when "dark"
      - darkThemeModifier = " text-input_theme_dark"

  input(
    type=type
    name=name
    class=`text-input js-text-input${darkThemeModifier}${maskThemeModifier}${isClickableModifier}`
    placeholder=placeholder
    disabled=disabled
    readonly=readonly
  )