include ../title/title.pug

mixin range-slider({ headerText, type = 'double', min = 0, max = 100, step = 1, from = 10, to = 20, isMinMaxHidden = true, isFromToHidden = true, } = {})
  section.range-slider.js-range-slider
    .range-slider__header
      .range-slider__label
        +title({ tag: "h3", text: headerText, })
        
      input(type='text' readonly class='range-slider__price js-range-slider__price')

    .range-slider__inner
      input.range-slider__slider.js-range-slider__slider(data-type=`${type}` type="text" data-min=`${min}` data-max=`${max}` data-step=`${step}` data-from=`${from}` data-to=`${to}` data-hide-min-max=`${isMinMaxHidden}` data-hide-from-to=`${isFromToHidden}`)

