include ../rating-button/rating-button.pug

mixin room-card({ roomNumber = 888, src = "img/rooms/room888.svg",price = "9 900",name = "room photo",  rate = 5, reviews = 145,type = "",hasArrow = falsecurrency = "₽", inTime = "в сутки", } = {})
  section.room-card.js-room-card
    figure.room-card__slider.js-room-card__slider(class=hasArrows ? "room-card__slider_with-arrows" : null)
      img(class="room-card__image" src=src alt=name)
      img(class="room-card__image" src=src alt=name)
      img(class="room-card__image" src=src alt=name)
      img(class="room-card__image" src=src alt=name)

    .room-card__description
      .room-card__row
        .room-card__paragraph
          span.room-card__no № 
          span.room-card__number=number
          span.room-card__type=` ${type}`

        .room-card__paragraph
          span.room-card__price=price
          span.room-card__price=currency
          span.room-card__in-time=` ${inTime}`

      .room-card__row
        .room-card__underline

      .room-card__row
        .room-card__paragraph
          .room-card__rating-button
            +rating-button({ name, rating: rate, })

        .room-card__paragraph
          span.room-card__reviews-count=reviews
          span.room-card__reviews=" Отзывов"