include ../title/title.pug

mixin info-table({ priceOfRoom = "price", totalPriceOfRoom = "sum price", numberOfDays = "number days", numberOfDiscount = "number discount", inTime = "суток", priceOfService = "Service price", priceOfAdditionalServices = "adv serv price", finalPrice = "final pric", currency = "₽", } = {})
  table.info-table.js-info-table
    tr.info-table__row
      td.info-table__service
        span.js-info-table__price-of-room=priceOfRoom
        span.info-table__currency=`${currency} x `
        span.js-info-table__number-of-days=numberOfDays
        span.info-table__in-time=` ${inTime}`
      td.info-table__price
        span.js-info-table__total-price-of-rooms=totalPriceOfRoom
        span.info-table__currency=currency
    tr.info-table__row
      td.info-table__service
        .info-table__discount
          span Сбор за услуги: скидка 
          span.js-info-table__number-of-discount=numberOfDiscount
          span.info-table__currency=currency
          span.info-table__icon i
      td.info-table__price
        .info-table__discount-price
          span.js-info-table__price-of-service=priceOfService
          span.info-table__currency=currency
    tr.info-table__row
      td.info-table__service
        .info-table__additional
          span.info-table__additional Сбор за дополнительные услуги
          span.info-table__icon i
      td.info-table__price
        .info-table__additional-price
          span.js-info-table__price-of-additional-services=priceOfAdditionalServices
          span.info-table__currency=currency
    tr.info-table__row
      td.info-table__service.info-table__service_with-result
        +title({ type: "h2", text: "Итого", }) 
        .info-table__underline
      td.info-table__price.info-table__price_with-result.js-info-table__final-price
        +title({ type: "h2", text: finalPrice, }) 
        +title({ type: "h2", text: currency, })